
<div class="image-roww">
    <div class="image-container shape-box">
    <img src="/shape.jpeg" alt="white image"/>
    <div class="overlay-content">
          <h2>Design Shape</h2>
          <button>Explore</button>
    </div>
    </div>   
    </div> 
  



    // src/components/Hero.jsx
import React from 'react';

const Hero = () => {
  return (
    <section className="hero">
        <div className="image-wrapper pt-16 ">
  
           
    <img 
  src="/bp.png" 
  alt="Blueprint illustration" 
  className="fullscreen-img" 
  />
    
   <div className="hero-text">
          <h1> Blueprint Designs</h1>
          <p>Modern and precise design solutions for web and brand."</p>
          <button className="start-button">Get Started</button>
        </div>
</div>

<p className="left-align how-it-title">HOW IT WORKS</p>
<div className="text-image-row">
<div className="text-block">
<p className="left-align justify-align">
<strong className="highlighted-text">
   Creates Custom,Precise  <br />
   Design solutions by <br />
   Understanding your vision.  <br />
   </strong>
<p></p>
   Crafts a plan and brings  <br />
   it to life with modern  <br />
   design techniques." <br />
    
</p>
<p></p>
<button className="start-button left-align-button">Book a designer</button>
</div>

<img 
  src="/professional.png" 
  alt="Professional designer" 
  className="image-container" 
  />
  </div>
  <p></p>
  <p className="centre-align services">SERVICES
    <p></p>
  <strong className="highlighted-text ">
    Your Path to Modern,<br />
    Impactful Design <br />
    Solutions<br />
    </strong>
    </p>
<p></p>
<p>Shape your brand with expert designers through tailored solutions crafted<br/>
   to fit you perfectly.</p>
   <div class="image-row">
  <div class="image-container">
    
  <img src="/software.jpeg" alt="software image white.jpeg" />
  <div class="overlay-content">
        <h2>Software Solutions</h2>
        <button>Learn More</button>
  
  </div>
  
  <div class="image-container large-box">
    <img src="/shape.jpeg" alt="design shape image" />
    <div class="overlay-content">
      <h2>Design Shape</h2>
      <button>Explore</button>
    </div>
  </div>

 

  </div>

</div>

   </section>
  );
};

export default Hero;



